### Step 1 -> Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2 -> Load and Explore the Data

In [3]:
data = pd.read_csv('Walmart_Sales.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [4]:
data.isnull().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [5]:
data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

### Step 3 -> Data Cleaning

In [9]:
# Convert date column into datetime
data['Date'] = pd.to_datetime(data['Date'], format='%d-%m-%Y')

In [10]:
# Check for missing values and fill them if necessary
data.fillna(method='ffill', inplace=True)

C:\Users\ychow\AppData\Local\Temp\ipykernel_10252\3576222734.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='ffill', inplace=True)

### Step 4 -> Data Aggregation

In [13]:
# Aggregate total weekly sales by store
store_sales = data.groupby('Store')['Weekly_Sales'].sum().reset_index().copy()
store_sales.head()

   Store  Weekly_Sales
0      1  2.224028e+08
1      2  2.753824e+08
2      3  5.758674e+07
3      4  2.995440e+08
4      5  4.547569e+07

In [ ]:
# Aggregate holiday vs non-holiday sales
holiday_sales = data.groupby('Holiday_Flag')['Weekly_Sales']